.headerBtn {
    color: white;
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

span {
    cursor: pointer;
}

.header {
    /* position: fixed; */
}

#logo-name {
    font-family: ui-monospace;
}