<mat-toolbar color="primary" class="header">

    <mat-toolbar-row color="primary">
        <span>Angular Frontend Project</span>
        <span class="example-spacer"></span>
        <button  class="headerBtn" mat-button color="primary" routerLinkActive="active" routerLink="/home">Home</button>
        <button  class="headerBtn" mat-button color="primary" routerLinkActive="active" routerLink="/customer">Customer</button>
        <button  class="headerBtn" mat-button color="primary" routerLinkActive="active" routerLink="/account">Account</button>
    
    </mat-toolbar-row>

</mat-toolbar>