<mat-card class="example-card">
    <mat-card-title>Open Account</mat-card-title>
  <br><br>
    <mat-card-content>

        <div class="container-fluid">

            <div class="row">
            
                <div class="col-sm-8" >
                    <mat-form-field appearance="fill" color="primary" style="max-width: 500px;">
                        <mat-label>Customer ID</mat-label>
                        <input matInput type="number" placeholder="Ex. 879758" [(ngModel)]="customerID">
                    </mat-form-field>
                </div>
            </div>


            <div class="row">

                <div class="col-sm-8">
                    <mat-form-field appearance="fill" color="primary" style="max-width: 500px;">
                        <mat-label>Amount</mat-label>
                        <input matInput type="number" placeholder="Ex. 1000" [(ngModel)]="amount">
                    </mat-form-field>
                </div>
            </div>
        </div>


    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="openCurrentAccount()">Add</button>
    </mat-card-actions>
</mat-card>