<mat-card class="example-card" >
    <mat-card-title>Customer Info</mat-card-title>
  <br><br>
    <mat-card-content>

        <div class="container-fluid">

            <div class="row">
            
                <div class="col-sm-9" >
                    <mat-form-field appearance="fill" color="primary">
                        <mat-label>Customer ID</mat-label>
                        <input matInput type="number" placeholder="Ex. 879758" [(ngModel)]="customerID">
                    </mat-form-field>
                    
                </div>
                <div class="col-sm-3" >
                    <button mat-button (click)="getCustomerInfo()">Search</button>

                </div>
            </div>

        </div>

    </mat-card-content>

</mat-card>

<br><br>


<h1>Basic Info</h1>

<table id="customer">
    <tr>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Customer Surname</th>
    </tr>

    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{surname}}</td>
    </tr>

</table>

<br><br>


<h1>Accounts</h1>
<table id="customer">

    <tr>
        <th>Account ID</th>
        <th>Balannce</th>

    </tr>

    <tr *ngFor="let d of accountTran ">
        <td>{{d.accountId}}</td>
        <td> {{d.balance}}</td>

    </tr>
</table>



<br><br>


<h1>Transactions</h1>
<table id="customer">

    <tr>
        <th>Account ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>transactionId</th>

    </tr>

    <tr *ngFor="let d of accTrans ">
        <td>{{d.accountId}}</td>
        <td> {{d.amount}}</td>
        <td>{{d.date}}</td>
        <td> {{d.transactionId}}</td>

    </tr>
</table>