.example-card {
    max-width: 100%;
    
  }

  #customer {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customer td, #customer th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customer tr:nth-child(even){background-color: #f2f2f2;}
  
  #customer tr:hover {background-color: #ddd;}
  
  #customer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:hsla(262, 84%, 35%, 0.694);
    color: white;
  }


  .my-select-panel-class {
    width:20px;
    max-width:20px;
    background-color: red;
    font-size: 10px;
}

.mat-select-trigger { min-width: 75%; }

.mat-form-field {
  min-width: 100%;
}


.mat-select-background {
  background: red;
 
}
